<html ng-app="ngModule">
<!-- https://arzktrqj0a.execute-api.us-east-1.amazonaws.com/PROD/{ticker} -->

<head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js" />
    <script src="/socket.io.js"></script>
    <script>

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="/ui-bootstrap-tpls-2.5.0.min.js"></script>


</head>

<body ng-controller="graphController">

    <div class="container">
        <div class="navbar navbar-inverse">
            <nav>
                    <a href="#" style="padding: 10px" ng-click="removeRefresh()">Home</a>
                    <a href="http://localhost:8000/watchlist" style="padding: 10px" ng-click="removeRefresh()">Portfolio</a>
                    <a href="http://localhost:8000/addTicker" style="padding: 10px" ng-click="removeRefresh()">Add_Ticker_to_watchlist</a>
                    <a href="http://localhost:8000/removeTicker" style="padding: 10px" ng-click="removeRefresh()">Remove_Ticker_to_watchlist</a>
                    <a href="http://localhost:8000/portfolio" style="padding: 10px" ng-click="removeRefresh()">Watchlist</a>
                    <a href="http://localhost:8000/createGraphs" style="padding: 10px">Analysis</a>
                    <a href="http://localhost:8000/contactMe" style="padding: 10px" >Contact Me</a>
                <!--            <a href="#" style="text-align: right;padding: 340px;">Login</a> -->
            </nav>
        </div>
        <div class="container">
                <h1 class="jumbotron">Analyze my Stocks</h1>
            </div>
        <select class="form-control" ng-model="elec">
                <option ng-repeat="ticker in tickers">{{ticker}}</option>
        </select>
        <div style="text-align:center"><button class="btn btn-danger" ng-click="searchClick()">Search</button></div>
        <canvas id="myChart"></canvas>
        <br>
        <canvas id="myChart2"></canvas>
    </div>

    <script src="graph.js"></script>


</body>
<script>
 
    </script>
</html>