<html>
<!-- https://arzktrqj0a.execute-api.us-east-1.amazonaws.com/PROD/{ticker} -->

<head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js" />
    <script src="/socket.io.js"></script>
    <script>

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="/ui-bootstrap-tpls-2.5.0.min.js"></script>


</head>

<body>

    <div class="container">
        <div class="navbar navbar-inverse">
            <nav>
                <a href="#" style="padding: 10px" ng-click="removeRefresh()">Home</a>
                <a href="http://localhost:8000/watchlist" style="padding: 10px" ng-click="removeRefresh()">Portfolio</a>
                <a href="http://localhost:8000/addTicker" style="padding: 10px" ng-click="removeRefresh()">Add Ticker</a>
                <a href="http://localhost:8000/removeTicker" style="padding: 10px" ng-click="removeRefresh()">Remove Ticker</a>
                <a href="http://localhost:8000/portfolio" style="padding: 10px" ng-click="removeRefresh()">Watchlist</a>
                <a href="http://localhost:8000/createGraphs" style="padding: 10px">Analysis</a>
                <a href="#" style="padding: 10px">Contact Me</a>
                <!--            <a href="#" style="text-align: right;padding: 340px;">Login</a> -->
            </nav>
        </div>

        <canvas id="myChart"></canvas>
    </div>




</body>
<script>
        //alert(document.getElementById("myChart"));
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2,100],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</html>