<html ng-app="ngModule">
    <!-- https://arzktrqj0a.execute-api.us-east-1.amazonaws.com/PROD/{ticker} -->
    <head>
            <script src="/socket.io.js"></script>
            <script>
                
            </script>
    
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
            <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
            <script src="/app.js"></script>
            <script src="/ui-bootstrap-tpls-2.5.0.min.js"></script>
        <script>
     
        </script>
    </head>
    
    <body>
                    <div class="container">
                                    <div class="navbar navbar-inverse">
                                    <nav>
                                            <a href="#" style="padding: 10px" ng-click="removeRefresh()">Home</a>
                                            <a href="http://localhost:8000/watchlist" style="padding: 10px" ng-click="removeRefresh()">Portfolio</a>
                                            <a href="http://localhost:8000/addTicker" style="padding: 10px" ng-click="removeRefresh()">Add Ticker</a>
                                            <a href="http://localhost:8000/removeTicker" style="padding: 10px" ng-click="removeRefresh()">Remove Ticker</a>
                                            <a href="http://localhost:8000/portfolio" style="padding: 10px" ng-click="removeRefresh()">Watchlist</a>
                                            <a href="http://localhost:8000/createGraphs" style="padding: 10px">Analysis</a>
                                            <a href="#" style="padding: 10px" >Contact Me</a>
                            <!--            <a href="#" style="text-align: right;padding: 340px;">Login</a> -->
                                    </nav>
                                    </div>
                    </div>
                    <div ng-controller="ngRemoveTicker">
                        
                                    <div class="container">
                                        <h1 class="jumbotron container-fluid">Remove Stock Ticker</h1>
                                        <br>
                                    </div>
                                    <form class="container">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Remove Stock Ticker from watchlist</label>
                                            <input type="text" class="form-control" ng-model="stockTickerAdder" name="stockTicker" id="exampleInputEmail1" placeholder="Enter stock Ticker">
                                            <small id="emailHelp" class="form-text text-muted">NYSE Stock Ticker</small>
                                        </div>
                                        <button type="submit" class="btn btn-primary" ng-click="removeClick()">Remove</button>
                                    </form>
                            
                                    <div class="container" ng-class="'alert-' + (alert.type || 'success')" uib-alert type="sucess" close="closeAlert()" ng-if="show" dismiss-on-timeout="3000">Successfully removed from the watchlist.</div>
                                    <div class="container" ng-class="'alert-' + (alert.type || 'danger')" uib-alert type="danger" close="closeAlert2()" ng-if="show2" dismiss-on-timeout="3000">Error removing Ticker from the portfolio.</div>
                    </div>
    </body>
    
    </html>