<!doctype html>
<html ng-app="ui.bootstrap.demo">

<head>
    <script src="/socket.io.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="modal.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script>

    </script>
</head>

<body>
    <div class="container">

        <div class="navbar navbar-inverse">
            <nav>
                    <a href="#" style="padding: 10px" ng-click="removeRefresh()">Home</a>
                    <a href="http://localhost:8000/watchlist" style="padding: 10px" ng-click="removeRefresh()">Portfolio</a>
                    <a href="http://localhost:8000/addTicker" style="padding: 10px" ng-click="removeRefresh()">Add Ticker</a>
                    <a href="http://localhost:8000/removeTicker" style="padding: 10px" ng-click="removeRefresh()">Remove Ticker</a>
                    <a href="http://localhost:8000/portfolio" style="padding: 10px" ng-click="removeRefresh()">Watchlist</a>
                    <a href="http://localhost:8000/createGraphs" style="padding: 10px">Analysis</a>
                    <a href="#" style="padding: 10px" >Contact Me</a>
                <!--            <a href="#" style="text-align: right;padding: 340px;">Login</a> -->
            </nav>
        </div>
    </div>
    <div ng-controller="ModalDemoCtrl as $ctrl" class="container">
        <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Add Stock to your Portfolio</h3>
        </div>
        <div class="modal-body" id="modal-body">
       <!--     <ul>
                <li ng-repeat="item in $ctrl.items">
                    <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
                </li>
            </ul> -->
            {{$ctrl.gowtham}}
            <form>
                    <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Ticker Name:</label>
                            <div class="col-sm-10">          
                              <input type="text" class="form-control" id="tickerName" placeholder="Ticker Name" name="tickerName" ng-model="tickerName">
                            </div>
                    </div>
                    <br>
                    <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Price:</label>
                            <div class="col-sm-10">          
                              <input type="text" class="form-control" id="price" placeholder="Price" name="price" ng-model="price">
                            </div>
                    </div>
                    <br>
                    <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Shares:</label>
                            <div class="col-sm-10">          
                              <input type="text" class="form-control" id="shares" placeholder="Shares" name="shares" ng-model="shares">
                            </div>
                    </div>

            </form>    
            <button class="btn btn-danger">Add</button>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>
        <div class="container">
            <h1 class="jumbotron container-fluid">My Portfolio</h1>
            <br>
        </div>

        <div style="text-align:center">
            <button type="button" class="btn btn-success" ng-click="$ctrl.open('lg')">Add Stocks</button>

            <button type="button" class="btn btn-danger" ng-click="$ctrl.open('lg')">Sell Stocks</button>
        </div>

        
        <table class="table" id="myTable">
                <thead style="background-color:#808080;">
                    <tr>
                        <td>Ticker</td>
                        <td>Purchase_Amount</td>  
                        <td>Shares</td>
                        <td>Gain</td>
                        <td>Value</td>

                        <td>Gain %</td>
                    </tr>
                </thead>
                <h2 ng-style="{color: ($ctrl.totalValue < 0 ? 'red' : 'green')}">Total Value : $ {{$ctrl.totalValue}}</h2>
                <h2 ng-style="{color: ($ctrl.totalGain < 0 ? 'red' : 'green')}">Total Gain : $ {{$ctrl.totalGain}}</h2> 
                <tbody>
                    <tr ng-repeat="tn in $ctrl.gowtham">
                        <td ng-style="{background: (tn['gain'] < 0 ? '#E94B3C' : '#92B558')}">{{tn['ticker']}}</td>
                        <td ng-style="{color: (tn['gain'] < 0 ? 'red' : 'green')}">$ {{tn['amount']}}</td>
                        <td ng-style="{color: (tn['gain'] < 0 ? 'red' : 'green')}">{{tn['shares']}}</td>
                        <td ng-style="{color: (tn['gain'] < 0 ? 'red' : 'green')}">$ {{tn['gain']}}</td>
                        <td ng-style="{color: (tn['gain'] < 0 ? 'red' : 'green')}">$ {{tn['currentValue']}}</td>
                    </tr>
                </tbody>
        
            </table>
    </div>
</body>

</html>